:root {
  --blue-gray: #A7B3C7;
  --white: #FFF;
  --black: #000;
  --border-color: rgba(255, 255, 255, 0.50);
  --row-gap: 30px;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--blue-gray);
  font-family: 'Inter', sans-serif;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.align-center {
  align-items: center;
}